.modal {
    background-color: #111;
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  
  h2 {
    padding: 0;
    margin: 0;
    padding-bottom: 10px;
  }
  
  label {
    display: flex;
    margin: 5px;
    padding: 5px;
  }
  
  input {
    flex: 1; /* ou definir uma largura fixa, por exemplo: width: 200px; */
    margin-left: 5px;
    padding-right: 20px;
  }
  
  button {
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
    position: relative;
    margin: 20px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  