/* CountdownModal.css */

/* CountdownModal.css */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: black;
  width: 300px;
  height: 300px;
  border-radius: 8px;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;

  box-shadow: none;
  justify-content: center;
  align-items: center;
}


.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
 }

.ReactModal__Content h2 {
  text-align: center;
  font-size: 200px;
  font-weight: bolder;
  padding-bottom: 0;
  margin: 0;
}

.ReactModal__Content button {
  padding: 10px 20px;
  font-size: 24px;
  margin-bottom: 20px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
}

.ReactModal__Content button:hover {
  background-color: #0056b3;
}
